@model IEnumerable<TaskManager.MVC.Web.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Hi, @ViewData["UserName"]</h1>

<p>
    <a asp-action="Create" asp-route-userId=@ViewData["UserId"] asp-route-userName=@ViewData["UserName"]>Create New</a>
</p>

<form asp-action="Index" asp-route-userId=@ViewData["UserId"] asp-route-userName=@ViewData["UserName"] class="form-horizontal" role="form">
    <p>
        Search By Type: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-userId=@ViewData["UserId"] asp-route-userName=@ViewData["UserName"] asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-userId=@ViewData["UserId"] asp-route-userName=@ViewData["UserName"] asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-userId=@ViewData["UserId"] asp-route-userName=@ViewData["UserName"] asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
